
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  background:linear-gradient(45deg, rgb(243, 222, 222), rgb(236, 203, 193))
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.itensNavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}


.itensNavbar p{
  font-size: 30px;
  font-weight: 600;
}


.itensNavbarIcons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  cursor: pointer;
}

.itensNavbarIcons img{
  width: 30%;
  height: 20px;
}

.itensNavbar{
  background-color: none;
}

.containerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.containerContentIMG{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.containerContentIMG img{
  width: 90%;
  height: 60vh;
}

.containerContentTEXT{
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.containerContentTEXT h1{
  width: 100%;
}

.containerContentTEXT p{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 90%;
  font-weight: 600;
}

.containerContentTEXTInputBtn{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 20%;
}

.containerContentTEXTInputBtn input{
  height: 60%;
  width: 60%;
  padding: 2%;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.containerContentTEXTInputBtn button{
  height:60%;
  width: 30%;
  border: none;
  border-radius: 5px;
  border: 3px solid rgb(145, 90, 75);
  color:rgb(145, 90, 75) ;
}

.containerContentLocaContat{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.containerContentLocaContat div{
  margin-right: 40px;
  width: 30%;
}

.containerContentLocaContat div h1{
  font-size: 20px;
  margin-bottom: 20px;
}

.containerContentLocaContat div p{
  font-size: 10px;
  width: 100px;
}

/*Responsividade - celular*/
@media(max-width:425px){
 .container{
  display: flex;
  width: 100vw;
 }
 
 .containerContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 .containerContentIMG{
  width: 100%;
 }

 .containerContentIMG img{
  width: 50%;
  height: 90%;
  border-radius: 10px;
 }

 .containerContentTEXT{
  width: 100%;
 }

 .containerContentTEXTInputBtn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40%;
 }

 .containerContentTEXTInputBtn input{
  margin-bottom: 20px;
  padding-left: 40px;
 }

 .containerContentLocaContat{
  display: none;
 }
}